/*
black: #232323
dark blue: #21374e
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #232323;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    min-height: 100vh;
}