.login-page-header {
    width: 100%;
    background-color: #c6c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page-heading {
    padding: 24px 0;
    font-size: 36px;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 86px);
}

.login-form {
    background-color: #c6c6c6;
    width: 35%;
    height: 70%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
}

.login-header {
    width: 94%;
    text-align: center;
    background: #707070;
    margin-bottom: 16px;
    border-radius: 8px;
}

.login-heading {
    padding: 24px 0;
    font-size: 24px;
    color: #fff;
}

.login-field-container {
    width: 86%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.login-field-container label {
    font-weight: 600;
    margin-left: 16px;
    margin-bottom: 8px;
}

.login-field-container input {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
}

.register-para {
   align-self: flex-start;
   margin-left: 7%;
   margin-bottom: 24px;
}

.btn-container {
    width: 86%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-container button {
    background-color: #707070;
    color: #fff;
}

.btn-container button:hover {
    cursor: pointer;
    background-color: #8f8f8f;
    transition: .3s;
}

.btn-container button,
.btn-container a {
    width: 100%;
    border: none;
    padding: 12px 0;
    border-radius: 4px;
}

.btn-container a {
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    color: black;
}

.btn-container a:hover {
    background-color: #ebebeb;
    transition: .3s;
}
